*{
  box-sizing: border-box;

}

html, body{
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

a{
  color: white;
  text-decoration: none;
}

ul{
list-style: none;
margin: 0;
padding: 0;
}

header{
  background: black;
}

footer{
  background: black;
}

#logo{
  height: 125px;
  margin-left: 15px;
}

#sc-icon{
  height: 100px;
  }

#fb-icon{
  height: 100px;
  }

#yt-icon{
  height: 100px;
  }

nav a, footer a{
  text-transform: uppercase;
  transition: 1s all ease;
}

nav a, footer a:hover{
  color: rgb(205, 207, 210);
}

#title{
display: block;
}


@media (min-width: 768px){

  #menu{
    float: right;
    display: block;
    margin-top: 65px;
      }

  #menu li{
    float: left;
    margin-right: 40px;
      }

  #menu li:last-child{
    margin-right: 100px;
  }

  nav a{
    font-size: 24px;
  }

  #title{
    width: 100%;
  }

footer{
  height: 200px;
}

footer li{
  margin: 0 1rem;
}

footer .footermenu{
  display: flex;
  justify-content: center;
  }

footer .social{
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .footermenu{
    height: 100%;
  }

  .footermenu li{
    height: 0;
  }

  .footermenu ul{
    align-items: center;
  }

}
